<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
	<appSettings>
		<add key="MachineAddress" value="" />
		<add key="BaseUrl" value="tadah.rocks/arbiter" />
		<add key="AccessKey" value="" />
		<add key="BasePort" value="53640" />
		<add key="BaseRccSoapPort" value="23640"/>
		<add key="ServicePort" value="64989" />
		<add key="MaximumJobs" value="5" />
		<add key="MaximumJobsPerRcc" value="5"/>
		<add key="MaximumRccProcesses" value="10"/>
		<add key="PublicKeyPath" value="C:\tadah.pem"/>
	</appSettings>
 <system.serviceModel>
  <bindings>
   <basicHttpBinding>
    <binding name="RCCServiceSoap" />
   </basicHttpBinding>
   <customBinding>
    <binding name="RCCServiceSoap12">
     <textMessageEncoding messageVersion="Soap12" />
     <httpTransport />
    </binding>
   </customBinding>
  </bindings>
 </system.serviceModel>
</configuration>
