<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
	<appSettings>
		<add key="GameserverID" value="1" />
		<add key="MachineAddress" value="" />
		<add key="BaseUrl" value="tadah.rocks/arbiter" />
		<add key="AccessKey" value="" />
		<add key="BasePort" value="53640" />
		<add key="ServicePort" value="64989" />
		<add key="MaximumJobs" value="5" />
		<add key="PublicKeyPath" value="C:\\tadah.pem"/>
	</appSettings>
</configuration>
